html, body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    background-color: rgb(167, 184, 167);
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

.body-content {
  min-height: 100%;
  /* Resta la altura de tu footer */
  padding-bottom: 180px; 
  box-sizing: border-box; /* Esto asegura que el padding no se añada a la altura total */
}